.Accordeon {
  width: 100%;
  position: relative;
  height: auto;
  transition: border 0.3s;
  min-height: 78px;
  padding: 26px 20px;
  border: 1px solid var(--border);
  border-radius: 8px;
  h5 {
    color: var(--color);
  }
  &.Open {
    .Arrow {
      transform: rotate(-180deg);
    }
    .AccordeonHead {
      cursor: auto;
      strong {
        transition: transform 0.3s, color 0.3s;
        transform: translate(-4px, -42px);
      }
    }
    .AccordeonBody {
      transition: height 0.3s ease-in-out 0.2s;
    }
  }
}

.AccordeonHead {
  display: flex;
  align-items: center;
  align-content: center;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  min-height: 78px;
  padding: 20px 78px 20px 20px;
  cursor: pointer;

  strong {
    display: inline-block;
    position: relative;
    padding: 4px;
    font-size: 20px;
    line-height: 1;
    font-weight: 600;
    transform: translate(-4px, -2px);
    transition: transform 0.3s ease-in-out 0.2s, color 0.3s, background-color 0.3s;
    background-color: var(--bg);
    cursor: pointer;
    &:hover {
      color: var(--color);
    }
  }
}

.AccordeonBody {
  display: flex;
  flex-direction: column;
  gap: 14px;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: height 0.3s;
  padding-right: 78px;
  p,
  span {
    opacity: 0.6;
  }
}

.Arrow {
  display: flex;
  position: absolute;
  width: 78px;
  height: 78px;
  right: 0px;
  top: 0px;
  z-index: 2;
  transition: 0.3s;
  transform: rotate(0deg);
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  cursor: pointer;
}

//Mobil

@media (max-width: 1023px) {
  .Accordeon {
    min-height: 60px;
    padding: 26px 20px;
    border-radius: 6px;
    &.Open {
      .AccordeonHead {
        strong {
          transform: translate(-4px, -32px);
        }
      }
    }
  }

  .AccordeonHead {
    min-height: 60px;
    padding: 14px 60px 14px 20px;
    strong {
      transform: translate(-4px, -2px);
      &:hover {
        color: var(--text-color);
      }
    }
  }

  .AccordeonBody {
    gap: 12px;
    padding-right: 35px;
  }

  .Arrow {
    width: 60px;
    height: 60px;
  }
}
