.MyPhoto {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
  picture {
    transition: background 0.3s;
    background: var(--about_photo_bg);
  }
  h3 {
    font-size: 44px;
    margin-top: -26px;
    margin-left: 20px;
    max-width: 300px;
  }
  + div a {
    max-width: calc(100% - 40px);
    margin-left: 20px;
  }
  @media (max-width: 1023px) {
    h3 {
      font-size: 40px;
      margin-top: -24px;
      max-width: 250px;
    }
  }
  @media (max-width: 767px) {
    margin-top: 30px;
    + div a {
      margin-bottom: 10px;
    }
  }
}
