.Button {
  display: inline-flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 12px 36px;
  min-height: 50px;
  color: var(--white);
  background: var(--color);
  transition: background-color 0.3s, color 0.3s, transform 0.2s, box-shadow 0.2s;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: 600;
  text-transform: uppercase;
  border-radius: 50px;
  border: none;
  outline: none;
  opacity: 1;
  cursor: pointer;
  transform: translate(0px, 0px);
  user-select: none;
  svg {
    position: relative;
    left: -20px;
    margin-right: -14px;
    width: 24px;
    height: 24px;
    color: inherit;
  }
  span {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    pointer-events: none;
  }
  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    background: var(--color-hover);
  }
  &[data-loading='true'] {
    pointer-events: none;
    span {
      color: rgba(0, 0, 0, 0);
    }
    &:before {
      content: '';
      position: absolute;
      width: 20px;
      height: 20px;
      border-left: 2px solid var(--text-color);
      border-top: 2px solid var(--text-color);
      border-bottom: 2px solid rgba(0, 0, 0, 0);
      border-right: 2px solid rgba(0, 0, 0, 0);
      border-radius: 20px;
      animation: rotate 0.3s linear infinite;
    }
  }
}

.Big {
  font-size: 18px;
  padding: 12px 36px;
  min-height: 60px;
}

.Small {
  font-size: 12px;
  padding: 10px 20px;
  min-height: 40px;
}

.Black {
  background: var(--color-hover);
  color: var(--white);
  &:hover {
    background: var(--color);
    color: var(--white);
  }
}

.White {
  background: var(--white);
  color: var(--text-color);
  &:hover {
    color: var(--white);
  }
}

.BorderDark {
  border: 2px solid var(--color);
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  padding: 11px 36px;
  color: var(--text-color);
  &:hover {
    color: var(--white);
    background: var(--color);
  }
}

.BorderLight {
  border: 2px solid var(--green-color);
  background: rgba(0, 0, 0, 0);
  box-shadow: none;
  color: var(--white);
}

.Full {
  width: 100%;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
