.Text {
  display: block;
  width: 100%;
  white-space: pre-line;
  font-size: 13px;
  b {
    display: inline;
    font-weight: 500;
    color: var(--text-color);
  }
  a {
    display: inline;
    border-bottom: 1px solid var(--grey);
    transition: 0.3s;
    &:hover {
      color: var(--color);
      border-bottom: 1px solid var(--color);
    }
  }
}

.Small {
  font-size: 12px;
}

.Big {
  font-size: 16px;
}

@media (max-width: 767px) {
  .Big {
    font-size: 13px;
  }
}
