.Section {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: inherit;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.FullScreen {
  min-height: 100vh;
  align-items: center;
  align-content: center;
}

:global(.section-hero) {
  padding: 70px 0px;
  height: 800px;
  @media (max-width: 1439px) {
    height: auto;
    padding: 140px 0px 70px 0px;
  }
  @media (max-width: 1023px) {
    min-height: 680px;
  }
  @media (max-width: 767px) {
    padding-top: 110px;
    padding-bottom: 450px;
    min-height: auto;
  }
}

:global(.section-portfolio) {
  padding: 40px 0px 50px 0px;
  @media (max-width: 767px) {
    padding: 24px 0px 50px 0px;
  }
}
