.Section {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  color: inherit;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;
}

.FullScreen {
  min-height: 100vh;
  align-items: center;
  align-content: center;
}

[data-theme='light'] {
  .Section {
    background-image: url('../../assets/img/bg.svg');
    background-position-x: center;
    background-repeat: repeat-y;
    background-size: 1200px auto;
    @media (max-width: 1240px) {
      background-image: none;
    }
  }
}

:global(.section-hero) {
  padding: 70px 0px;
  height: 800px;
  @media (max-width: 1439px) {
    height: auto;
    padding: 140px 0px 70px 0px;
  }
  @media (max-width: 1023px) {
    min-height: 680px;
  }
  @media (max-width: 767px) {
    padding-top: 110px;
    padding-bottom: 450px;
    min-height: auto;
  }
}
