@import-normalize;

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-extrabold.woff2') format('woff2'), url('./assets/fonts/poppins-extrabold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-semibold.woff2') format('woff2'), url('./assets/fonts/poppins-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins-medium.woff2') format('woff2'), url('./assets/fonts/poppins-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

:root {
  --font: 'Poppins', sans-serif;
  --white: #fff;
  --black: #000;
  --bg: #1a1a1a;
  --text-color: #fff;
  // --color: #12a9a5;
  --color: #f78a3c;
  --grey: #9c9c9c;

  --border: rgba(255, 255, 255, 0.2);
  --shadow: rgba(26, 26, 26, 0.5);
  --modal-backdrop: rgba(0, 0, 0, 0.4);
  --modal-bg: #2d2d2d;
  --modal-project-image-bg: #696969;

  --svg-effect-color: rgba(255, 255, 255, 0.7);
  --svg-effect-color2: rgba(48, 48, 48, 0.8);
  --svg-effect-border: rgba(255, 255, 255, 0.3);
  --svg-effect-bg: #252525;
  --svg-effect-bg2: #1d1d1d;
  --svg-effect-bg-border: #424242;
  --color-hover: #444444;
  --gray: #a5a5a5;
  --contacts-icon-color: #424242;
  --footer-background-color: #000000;
  --menu_mobil_bg: #1c1c1c;
  --about_photo_bg: #303030;
  --cubic: 0.3s;

  --invalid: red;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

body[data-theme='light'] {
  --bg: #f5f5f5;
  --text-color: #2b2b2b;
  --color: #ff8717;
  --border: rgba(153, 153, 153, 0.6);
  --shadow: rgb(245, 245, 245, 0.5);
  --grey: #868686;

  --svg-effect-color: #404040;
  --svg-effect-color2: #e1e1e1;
  --svg-effect-border: #cacaca;
  --svg-effect-bg: #f4f4f4;
  --svg-effect-bg2: #bebebe;
  --svg-effect-bg-border: #a8a8a8;
  --contacts-icon-color: #2b2b2b;

  --menu_mobil_bg: #fff;
  --modal-backdrop: rgba(215, 215, 215, 0.5);
  --modal-bg: #ffffff;
  --modal-project-image-bg: #dedede;
  --about_photo_bg: #dfdfdf;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

b {
  font-weight: 600;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

.body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: var(--bg);
  color: var(--text-color);
  font-family: var(--font);
  font-size: 13px;
  line-height: 1.5;
  font-weight: 500;
  transition: background 0.3s, color 0.3s;
  &[data-freez] {
    overflow-y: hidden;
  }
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  flex: 1;
  margin-bottom: auto;
}

.container {
  display: block;
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 20px;
  z-index: 2;
}

textarea {
  resize: none;
}

fieldset {
  border: none;
}

input,
textarea {
  transition: 0.3s;
  &::placeholder {
    transition: inherit;
    color: var(--text-color);
    transition: 0.3s;
    opacity: 0.7;
  }
  &:focus {
    &::placeholder {
      opacity: 0;
    }
  }
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='checkbox'] + label.invalid {
  &:before {
    border: 1px solid var(--invalid);
  }
}
input[type='checkbox'] + label {
  display: inline-flex;
  flex-wrap: wrap;
  width: auto;
  position: relative;
  align-items: flex-start;
  align-content: flex-start;
  padding-left: 34px;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0px;
    top: -2px;
    width: 20px;
    height: 20px;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: 0.3s;
  }

  &:after {
    height: 12px;
    border-radius: 0px;
    border-left: 4px solid var(--white);
    border-bottom: 4px solid var(--white);
    transform: scale(0.5) rotate(-50deg) translate(-3px, 3px);
    opacity: 0;
  }
}

input[type='checkbox']:checked + label {
  &:before {
    border: 1px solid var(--color);
    background: var(--color);
  }

  &:after {
    opacity: 1;
  }
}

//CUSTOM SCROLLBAR
.custom-scrollbar {
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color); /* color of thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: inherit; /* track background */
  border-radius: 10px;
}

header .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--menu_mobil_bg); /* color of thumb */
}
